In [21]:
import pandas as pd
import sklearn
from sklearn import model_selection
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

In [22]:
asdc = pd.read_csv('/content/Autism-Child-Data.csv')
asdc.head()

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,0,0,1,1,0,1,0,...,m,Others,no,no,Jordan,no,5,4-11 years,Parent,NO
1,2,1,1,0,0,1,1,0,1,0,...,m,Middle Eastern,no,no,Jordan,no,5,4-11 years,Parent,NO
2,3,1,1,0,0,0,1,1,1,0,...,m,?,no,no,Jordan,yes,5,4-11 years,?,NO
3,4,0,1,0,0,1,1,0,0,0,...,f,?,yes,no,Jordan,no,4,4-11 years,?,NO
4,5,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,United States,no,10,4-11 years,Parent,YES

In [3]:
asdc.columns

Index(['id', 'A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'age',
       'gender', 'ethnicity', 'jundice', 'austim', 'contry_of_res',
       'used_app_before', 'result', 'age_desc', 'relation', 'Class/ASD'],
      dtype='object')

In [4]:
asdc = asdc.drop(['contry_of_res', 'used_app_before', 'result', 'age_desc', 'relation', 'ethnicity'], axis=1)

In [6]:
asdc.shape

(292, 16)

In [7]:
asdc.isnull().sum()

id           0
A1_Score     0
A2_Score     0
A3_Score     0
A4_Score     0
A5_Score     0
A6_Score     0
A7_Score     0
A8_Score     0
A9_Score     0
A10_Score    0
age          0
gender       0
jundice      0
austim       0
Class/ASD    0
dtype: int64

In [8]:
asdc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         292 non-null    int64
 1   A1_Score   292 non-null    int64
 2   A2_Score   292 non-null    int64
 3   A3_Score   292 non-null    int64
 4   A4_Score   292 non-null    int64
 5   A5_Score   292 non-null    int64
 6   A6_Score   292 non-null    int64
 7   A7_Score   292 non-null    int64
 8   A8_Score   292 non-null    int64
 9   A9_Score   292 non-null    int64
 10  A10_Score  292 non-null    int64
 11  age        292 non-null    object
 12  gender     292 non-null    object
 13  jundice    292 non-null    object
 14  austim     292 non-null    object
 15  Class/ASD  292 non-null    object
dtypes: int64(11), object(5)
memory usage: 36.6+ KB

In [9]:
asdc.describe()

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score
count,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000
mean,146.500000,0.633562,0.534247,0.743151,0.551370,0.743151,0.712329,0.606164,0.496575,0.493151,0.726027
std,84.437354,0.482658,0.499682,0.437646,0.498208,0.437646,0.453454,0.489438,0.500847,0.500811,0.446761
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,73.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,146.500000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
75%,219.250000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,292.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
asdc['Class/ASD'].value_counts()

Class/ASD
NO     151
YES    141
Name: count, dtype: int64

In [11]:
# Calculate the mean for numeric columns only
asdc.groupby('Class/ASD').mean(numeric_only=True)

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score
Class/ASD,,,,,,,,,,,
NO,145.913907,0.450331,0.423841,0.576159,0.278146,0.582781,0.529801,0.476821,0.284768,0.258278,0.536424
YES,147.127660,0.829787,0.652482,0.921986,0.843972,0.914894,0.907801,0.744681,0.723404,0.744681,0.929078

In [12]:
# separating the data and labels
X = asdc.drop(columns = 'Class/ASD', axis=1)
Y = asdc['Class/ASD']

In [13]:
print(X)

      id  A1_Score  A2_Score  A3_Score  A4_Score  A5_Score  A6_Score  \
0      1         1         1         0         0         1         1
1      2         1         1         0         0         1         1
2      3         1         1         0         0         0         1
3      4         0         1         0         0         1         1
4      5         1         1         1         1         1         1
..   ...       ...       ...       ...       ...       ...       ...
287  288         1         1         1         1         1         1
288  289         1         0         0         0         1         0
289  290         1         0         1         1         1         1
290  291         1         1         1         0         1         1
291  292         0         0         1         0         1         0

     A7_Score  A8_Score  A9_Score  A10_Score age gender jundice austim
0           0         1         0          0   6      m      no     no
1           0         1         0          0   6      m      no     no
2           1         1         0          0   6      m      no     no
3           0         0         0          1   5      f     yes     no
4           1         1         1          1   5      m     yes     no
..        ...       ...       ...        ...  ..    ...     ...    ...
287         1         1         1          1   7      f     yes    yes
288         1         0         0          1   7      f     yes    yes
289         1         0         0          1   4      m      no     no
290         1         1         1          1   4      m      no     no
291         1         0         0          0   4      f      no     no

[292 rows x 15 columns]

In [14]:
print(Y)

0       NO
1       NO
2       NO
3       NO
4      YES
      ...
287    YES
288     NO
289    YES
290    YES
291     NO
Name: Class/ASD, Length: 292, dtype: object

In [17]:
categorical_cols = X.select_dtypes(include=['object']).columns

# Apply Label Encoding to all categorical columns
for col in categorical_cols:
    le = LabelEncoder()  # Create a new LabelEncoder for each column
    X[col] = le.fit_transform(X[col]) #Fit and transform the column data

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.3, stratify=Y, random_state=2)

In [19]:
print(X.shape, X_train.shape, X_test.shape)

(292, 15) (204, 15) (88, 15)

In [23]:
sc = MinMaxScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

In [25]:
models = {"Logistic Regression": LogisticRegression(max_iter=1000)}

In [26]:
results = {}
for model_name, model in models.items():
    model.fit(X_train_scaled, Y_train)
    y_pred_train = model.predict(X_train_scaled)
    y_pred_test = model.predict(X_test_scaled)

In [28]:
train_accuracy = accuracy_score(Y_train, y_pred_train)
test_accuracy = accuracy_score(Y_test, y_pred_test)

In [30]:
print("Train Accuracy:", train_accuracy)
print("Test Accuracy:", test_accuracy)

Train Accuracy: 1.0
Test Accuracy: 0.9772727272727273

In [41]:
input_data = [1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0]  # Example input data
input_data_as_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

# Scale the input data using the same scaler used for training
input_data_scaled = sc.transform(input_data_reshaped)

prediction = model.predict(input_data_scaled)
print(prediction)

if (prediction[0] == 0):
    print('The Person does not have Autism')
else:
    print('The Person has Autism')

['NO']
The Person has Autism

In [37]:
import pickle

In [38]:
filename = 'ASD_child_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [39]:
# loading the saved model
loaded_model = pickle.load(open('ASD_child_model.sav', 'rb'))